.card-image {
    height: 250px;
    width: 250px;
   }
   /* #results{
    border: solid black 5px;
   }  */

   .col-8 {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 10px;
   }

   .button {
    gap: 10px;
    row-gap: 10px;
   }

   .col-3 {
    position: sticky!important;
    top: 0;
   }